<nav>
  <%= render partial: "link", locals: {links: ["ermahgerd", "chef", "pirate", "fudd"], pokemon: params[:id]} %>
</nav>
<main>
  <section>
    <div class="title">
      <h1><%= @pokemon.select_entry(@language).name %></h1>
    </div>
  </section>
  <section>
    <div class="sprite">
      <%= image_tag("#{@pokemon.number}.svg") %>  
    </div>
    <div class="translation">
      <h2><%= @pokemon.select_entry(@language).number %></h2>
      <h2><%= @pokemon.select_entry(@language).select_translation.text %></h2>
    </div>
  </section>
</main>
<div class="back_link">
  <h2><%= link_to "Back to Pokedex", pokemons_path %></h2>
<div>
